.effect-div
{
  background-size: 100% 100%;
}
.effect-div{ 
    -webkit-transition:0.8s ease;
    transition: 0.8s ease;
    opacity:0.5;
}
.effect-div:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity:0.9;
    cursor: pointer;
}
.img1{background-image: url("/./assets/FUNNYCAT.jpg")}
.img2{background-image: url("/./assets/FUNNYCAT2.jpg")}
.img2:hover{background-image: url("/./assets/djcat.gif")}
.img1:hover{background-image: url("/./assets/pianocat.gif")}